[user]
	name = Carter Konz
	email = carter.konz@4cinsights.com
[commit]
	template = /Users/carterkonz/.gitmessage.txt
[core]
	excludesfile = /Users/carterkonz/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color]
    branch = auto
    diff = auto
    status = auto
[alias]
    tree = log --oneline --decorate --all --graph
    showtrackedignored = ls-files -i --exclude-standard
    me = !git log --author=\"$(git config user.name)\"
    f = fetch --all --prune
    ru = rebase upstream/master
    c = commit -m
[push]
    default = simple
[core]
    autocrlf = false
    filemode = false
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = vim
[commit]
    verbose = true
